<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbCz7ICrvvsVj7t3oAr6O6DOtC7NhvGDY</string>
	<key>GCM_SENDER_ID</key>
	<string>862563017151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diametics</string>
	<key>PROJECT_ID</key>
	<string>diametics-90bd8</string>
	<key>STORAGE_BUCKET</key>
	<string>diametics-90bd8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862563017151:ios:fdf9ef5bb6dd86f25f810a</string>
</dict>
</plist>